@import "../../../global-common";

.single-post {
  font-size: @single-post-font-size;

  .btn {
    width: 100%;
    padding: 0.5em 1em;
    font-size: @single-post-font-size;
  }

  .details {
    font-size: 2em;
    text-align: center;
    padding: 1.2em;
  }
}