@import "../../../global-common";

.wall-post {
  article {
    padding: 1em;
    margin: 1em 0;
    min-height: 9em;

    border: 2px solid black;
    border-radius: @border-radius;

    text-align: center;
  }

  .user-id {
    font-size: 1.6em;
    line-height: 2em;
  }

  .title {
    color: black;
  }
}
