@import "../../../global-common";

.login {
  input {
    height: 2.8em;
    font-size: @font-size;
    border-radius: @border-radius;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: lightgray;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: lightgray;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: lightgray;
    }
  }
}
