@import "../../global-common";

.login {
  font-size: @single-post-font-size;

  h1 {
    margin: 1em 0;
  }

  form .form-group {
    margin-bottom: 1.5em;
  }

  .btn {
    padding: 0 1em;
    height: 2.5em;
    font-size: @font-size;
  }
}
